ProjectSmartCargoManager/Service References/ServiceReference2/basic1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Flyware.net/eLS/2008/10" elementFormDefault="qualified" targetNamespace="http://Flyware.net/eLS/2008/10" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://eloadsheet.flyware.net/CargoServices-test/CargoControlService.svc/basic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Flyware.eLSEntities.ExtServices.ExtCargo" />
  <xs:element name="UploadCargo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cargoRequestSimple" nillable="true" type="tns:CargoRequestSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CargoRequestSimple">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CargoRequestBase">
        <xs:sequence>
          <xs:element name="CargoItems" nillable="true" type="tns:ArrayOfCargo" />
          <xs:element name="Password" nillable="true" type="xs:string" />
          <xs:element name="User" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CargoRequestSimple" nillable="true" type="tns:CargoRequestSimple" />
  <xs:complexType name="CargoRequestBase">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RequestBase">
        <xs:sequence>
          <xs:element name="Arrival" nillable="true" type="xs:string" />
          <xs:element name="Departure" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CargoRequestBase" nillable="true" type="tns:CargoRequestBase" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element name="AirlineIdentifier" nillable="true" type="xs:string" />
      <xs:element name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element name="STD" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="ArrayOfCargo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cargo" nillable="true" type="tns:Cargo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCargo" nillable="true" type="tns:ArrayOfCargo" />
  <xs:complexType name="Cargo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Flyware.eLSEntities.ExtServices.ExtCargo" name="CargoType" type="q1:CargoType" />
      <xs:element name="CheckWeight" type="xs:int" />
      <xs:element name="Destination" nillable="true" type="xs:string" />
      <xs:element name="Identifier" nillable="true" type="xs:string" />
      <xs:element name="LoadInfoCode" nillable="true" type="xs:string" />
      <xs:element name="NrUnits" type="xs:int" />
      <xs:element name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SpecialInfoCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TareWeight" type="xs:int" />
      <xs:element name="TypeCode" nillable="true" type="xs:string" />
      <xs:element name="ULDNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cargo" nillable="true" type="tns:Cargo" />
  <xs:element name="UploadCargoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UploadCargoResult" nillable="true" type="tns:CargoResponseSimple" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="CargoResponseSimple">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CargoRequestBase">
        <xs:sequence>
          <xs:element name="ErrorCode" nillable="true" type="xs:string" />
          <xs:element name="ErrorMessage" nillable="true" type="xs:string" />
          <xs:element name="ResponseStatus" type="tns:CargoResponseStatus" />
          <xs:element minOccurs="0" name="UploadMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CargoResponseSimple" nillable="true" type="tns:CargoResponseSimple" />
  <xs:simpleType name="CargoResponseStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CargoResponseStatus" nillable="true" type="tns:CargoResponseStatus" />
  <xs:complexType name="SystemFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultContractBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SystemFault" nillable="true" type="tns:SystemFault" />
  <xs:complexType name="FaultContractBase">
    <xs:sequence>
      <xs:element name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element name="ErrorType" nillable="true" type="xs:string" />
      <xs:element name="InnerMessage" nillable="true" type="xs:string" />
      <xs:element name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultContractBase" nillable="true" type="tns:FaultContractBase" />
  <xs:complexType name="LogicFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultContractBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="LogicFault" nillable="true" type="tns:LogicFault" />
  <xs:complexType name="SecurityFault">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FaultContractBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SecurityFault" nillable="true" type="tns:SecurityFault" />
</xs:schema>