ProjectSmartCargoManager/Service References/ServiceReference4/basic.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://Flyware.net/eLS/2008/10" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://Flyware.net/eLS/2008/10" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Flyware.net/eLS/2008/10/Imports">
      <xsd:import schemaLocation="http://eloadsheet.flyware.net/CargoServices-test/CargoControlService.svc/basic?xsd=xsd0" namespace="http://Flyware.net/eLS/2008/10" />
      <xsd:import schemaLocation="http://eloadsheet.flyware.net/CargoServices-test/CargoControlService.svc/basic?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://eloadsheet.flyware.net/CargoServices-test/CargoControlService.svc/basic?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Flyware.eLSEntities.ExtServices.ExtCargo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICargoControlService_UploadCargo_InputMessage">
    <wsdl:part name="parameters" element="tns:UploadCargo" />
  </wsdl:message>
  <wsdl:message name="ICargoControlService_UploadCargo_OutputMessage">
    <wsdl:part name="parameters" element="tns:UploadCargoResponse" />
  </wsdl:message>
  <wsdl:message name="ICargoControlService_UploadCargo_SystemFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SystemFault" />
  </wsdl:message>
  <wsdl:message name="ICargoControlService_UploadCargo_LogicFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:LogicFault" />
  </wsdl:message>
  <wsdl:message name="ICargoControlService_UploadCargo_SecurityFaultFault_FaultMessage">
    <wsdl:part name="detail" element="tns:SecurityFault" />
  </wsdl:message>
  <wsdl:portType name="ICargoControlService">
    <wsdl:operation name="UploadCargo">
      <wsdl:input wsaw:Action="http://Flyware.net/eLS/2008/10/ICargoControlService/UploadCargo" message="tns:ICargoControlService_UploadCargo_InputMessage" />
      <wsdl:output wsaw:Action="http://Flyware.net/eLS/2008/10/ICargoControlService/UploadCargoResponse" message="tns:ICargoControlService_UploadCargo_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Flyware.net/eLS/2008/10/ICargoControlService/UploadCargoSystemFaultFault" name="SystemFaultFault" message="tns:ICargoControlService_UploadCargo_SystemFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://Flyware.net/eLS/2008/10/ICargoControlService/UploadCargoLogicFaultFault" name="LogicFaultFault" message="tns:ICargoControlService_UploadCargo_LogicFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://Flyware.net/eLS/2008/10/ICargoControlService/UploadCargoSecurityFaultFault" name="SecurityFaultFault" message="tns:ICargoControlService_UploadCargo_SecurityFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>